<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> New-Techno-Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" class="home">New-Techno-Blog</a>
      </h1>
      <nav>
        <a href="/" class="dashboard-btn">Home</a>
        <a href="/dashboard" class="dashboard-btn">Dashboard</a>
        
        {{#if logged_in}}
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login" class="login-btn-no-style">Login</a>
        {{/if}}
        
        
        
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      THANKS FOR VISITING!
    </footer>
  </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>