body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(196, 235, 255);
  min-height: 100vh;
}

header h1 {
  text-align: center;
  text-decoration: none;
}

header h1 a {

  text-decoration: none;
}

nav {
  text-align: center;


}

.post,
.dashboard,
.editComment {
  background-color: rgb(236, 139, 104);
}

nav a {
  padding: 10%;
  font-size: 2em;
  text-decoration: none;
}

#blog-post {
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(236, 139, 104);
  margin: 50px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

#blog-title {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

#created-blogs {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

#blog-by-id {
  border-style: solid;
  margin: 50px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #ccc;
}

#blog_id {
  display: none;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid white;
  color: #1a1a1a;
  background-color: #aeaeae;


}

.log {
  display: flex;
  flex-direction: row;
  justify-content: center;





}

form .form-group {
  margin-right: 10px;
  width: 80%;

}

form .form-input {
  width: 100%;
  padding: 0.65rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.600rem 0;
  font-size: 1rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.login-signup {
  background-color: rgb(236, 139, 104);
  padding-left: 20px;
}

#logout {
  border: none;
  font-size: 2em;
  background-color: rgb(196, 235, 255);
}

#logout:hover {
  text-decoration: underline;
}

nav a:hover {

  text-decoration: underline;
}

footer {
  margin-top: auto;
  text-align: center;
 
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;

}